In [1]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime, timedelta

In [5]:
fake = Faker()

NUM_RETURNS = 100000  # Adjust number of returns (example: 100k)
MAX_ORDERITEM_ID = 1500000 

reasons = [
    "Damaged product",
    "Wrong product",
    "Late delivery",
    "Changed mind",
    "Other"
]

In [7]:
returns = []

for _ in range(NUM_RETURNS):
    order_item_id = random.randint(1, MAX_ORDERITEM_ID)
    return_date = fake.date_time_between(
        start_date="-1y",
        end_date="now"
    ).date()

    returns.append({
        "OrderItemID": order_item_id,
        "Reason": random.choice(reasons),
        "ReturnDate": return_date
    })

df_returns = pd.DataFrame(returns)

In [9]:
df_returns

       OrderItemID           Reason  ReturnDate
0           492614  Damaged product  2025-11-12
1          1350167    Wrong product  2025-05-25
2          1325414  Damaged product  2025-09-09
3           802422    Late delivery  2025-11-10
4           130360     Changed mind  2025-05-22
...            ...              ...         ...
99995      1086066    Late delivery  2025-01-07
99996       457342    Late delivery  2025-10-13
99997      1280232    Wrong product  2025-01-11
99998       288979     Changed mind  2025-12-14
99999      1036105  Damaged product  2025-12-23

[100000 rows x 3 columns]

In [11]:
# Save to Excel
output_path = "D:\Portfolio\Data generation\Data\Order\OrderReturn.xlsx"
df_returns.to_excel(output_path, index=False)

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_19468\707054822.py:2: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Order\OrderReturn.xlsx"