In [20]:
import pandas as pd
import random
import numpy as np

In [3]:
NUM_ORDERS = 800000
NUM_PRODUCTS = 2494

In [13]:
order_items = []

for order_id in range(1, NUM_ORDERS + 1):
    num_items = random.randint(1, 6)

    # Avoid duplicate products per order
    product_ids = random.sample(
        range(1, NUM_PRODUCTS + 1),
        k=num_items
    )

    for product_id in product_ids:
        order_items.append({
            "OrderID": order_id,
            "ProductID": product_id,
            "Quantity": random.randint(1, 5),
            "UnitPrice": 0
        })

df = pd.DataFrame(order_items)

In [14]:
df

         OrderID  ProductID  Quantity  UnitPrice
0              1        132         4          0
1              1          1         4          0
2              1       1545         3          0
3              2       2352         4          0
4              2        625         2          0
...          ...        ...       ...        ...
2801276   800000       1669         4          0
2801277   800000       1449         3          0
2801278   800000       2194         2          0
2801279   800000       1229         3          0
2801280   800000       1019         1          0

[2801281 rows x 4 columns]

In [22]:
df1, df2, df3 = np.array_split(df, 3)

print(len(df1), len(df2), len(df3))

933761 933760 933760

C:\Users\PanDa\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [24]:
df1.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part1.xlsx", index=False)
df2.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part2.xlsx", index=False)
df3.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part3.xlsx", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_26296\886628888.py:1: SyntaxWarning: invalid escape sequence '\P'
  df1.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part1.xlsx", index=False)
C:\Users\PanDa\AppData\Local\Temp\ipykernel_26296\886628888.py:2: SyntaxWarning: invalid escape sequence '\P'
  df2.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part2.xlsx", index=False)
C:\Users\PanDa\AppData\Local\Temp\ipykernel_26296\886628888.py:3: SyntaxWarning: invalid escape sequence '\P'
  df3.to_excel("D:\Portfolio\Data generation\Data\Order\OrderItem_part3.xlsx", index=False)