In [11]:
import pandas as pd
import random
from datetime import datetime, timedelta

In [13]:
NUM_ORDERS = 800_000
NUM_SHIPMENT_TYPES = 4

DELIVERY_PARTNERS = ["DHL", "FedEx", "Aramex", "UPS", "Local Courier"]

MAX_DAYS_BY_TYPE = {
    1: 7,    # Standard
    2: 3,    # Express
    3: 0,    # Same Day
    4: 14    # Economy
}

START_ORDER_DATE = datetime(2023, 1, 1)

In [17]:
shipments = []

for order_id in range(1, NUM_ORDERS + 1):
    # Simulated order date (you may remove if already exists)
    order_date = START_ORDER_DATE + timedelta(days=random.randint(0, 730))

    shipment_type = random.randint(1, NUM_SHIPMENT_TYPES)
    shipment_date = order_date + timedelta(days=random.randint(0, 2))

    delivery_date = shipment_date + timedelta(
        days=random.randint(0, MAX_DAYS_BY_TYPE[shipment_type] + 2)
    )

    shipments.append({
        "OrderID": order_id,
        "ShipmentTypeID": shipment_type,
        "DeliveryPartner": random.choice(DELIVERY_PARTNERS),
        "ShipmentDate": shipment_date.date(),
        "DeliveryDate": delivery_date.date(),
        "Status": "Delivered",
        "CustomerRating": random.randint(1, 5)
    })

df_shipments = pd.DataFrame(shipments)

In [19]:
df_shipments

,OrderID,ShipmentTypeID,DeliveryPartner,ShipmentDate,DeliveryDate,Status,CustomerRating
0,1,4,UPS,2024-10-20,2024-10-24,Delivered,2
1,2,3,FedEx,2024-03-14,2024-03-15,Delivered,1
2,3,3,DHL,2023-10-22,2023-10-23,Delivered,1
3,4,2,Local Courier,2024-11-16,2024-11-21,Delivered,4
4,5,4,FedEx,2023-09-23,2023-09-29,Delivered,3
...,...,...,...,...,...,...,...
799995,799996,4,Aramex,2024-08-05,2024-08-12,Delivered,3
799996,799997,3,Local Courier,2023-10-18,2023-10-19,Delivered,1
799997,799998,1,FedEx,2023-03-09,2023-03-10,Delivered,4
799998,799999,4,Aramex,2024-01-06,2024-01-12,Delivered,1
799999,800000,3,UPS,2023-02-01,2023-02-02,Delivered,3

In [21]:
output_path = "D:\Portfolio\Data generation\Data\Shipment\Shipment.xlsx"
df_shipments.to_excel(output_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_14420\4092804254.py:1: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Shipment\Shipment.xlsx"