In [2]:
from faker import Faker
import pandas as pd
import random

In [4]:
fake = Faker()

NUM_CUSTOMERS = 50000
contacts = []

In [6]:
for customer_id in range(1, NUM_CUSTOMERS + 1):
    # Mandatory primary email
    contacts.append({
        "CustomerID": customer_id,
        "Email": fake.unique.email(),
        "Phone": fake.phone_number(),
        "IsPrimary": 1
    })

    # Optional secondary contact (30% chance)
    if random.random() < 0.3:
        contacts.append({
            "CustomerID": customer_id,
            "Email": fake.unique.email(),
            "Phone": fake.phone_number(),
            "IsPrimary": 0
        })

df = pd.DataFrame(contacts)

In [8]:
df

,CustomerID,Email,Phone,IsPrimary
0,1,probertson@example.org,818.998.3287x00694,1
1,2,camachojames@example.com,777-770-1343x92547,1
2,3,phamdana@example.org,+1-429-825-3673x3019,1
3,3,rsmith@example.net,+1-315-714-9936x37304,0
4,4,hendersonloretta@example.net,(321)368-0552,1
...,...,...,...,...
65013,49996,brucepruitt@example.org,321.775.6632x637,1
65014,49997,theresaclark@example.org,+1-402-836-0976x5913,1
65015,49998,castillodustin@example.net,635-908-0211x5792,1
65016,49999,andrew34@example.com,830.664.0706x79976,1
65017,50000,nguyenjustin@example.org,349.765.2717x2509,1

In [10]:
output_path = "D:\Portfolio\Data generation\Data\Customer\CustomerContact.xlsx"
df.to_excel(output_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_15884\1312319079.py:1: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Customer\CustomerContact.xlsx"