In [25]:
import pandas as pd
import random
from datetime import timedelta
import numpy as np

In [13]:
NUM_PAYMENTS = 800000  # PaymentIDs from 1 to 800,000
FAILED_PERCENT = 0.006  # 

# Define flows
completed_flow = ["INITIATED", "AUTHORIZED", "COMPLETED"]
failed_flow = ["INITIATED", "AUTHORIZED", "FAILED"]

In [15]:
status_rows = []

for payment_id in range(1, NUM_PAYMENTS + 1):
    current_date = pd.Timestamp.now() - pd.Timedelta(days=random.randint(0, 730))  # random start date in last 2 years

    # Decide if this payment fails
    is_failed = random.random() < FAILED_PERCENT

    if is_failed:
        # First attempt fails
        for status in failed_flow:
            increment_days = random.randint(0, 3)
            current_date += pd.Timedelta(days=increment_days)
            status_rows.append({
                "PaymentID": payment_id,
                "Status": status,
                "StatusDate": current_date
            })

        # Second attempt succeeds (same PaymentID)
        retry_date = current_date + pd.Timedelta(days=1)
        for status in completed_flow:
            increment_days = random.randint(0, 3)
            retry_date += pd.Timedelta(days=increment_days)
            status_rows.append({
                "PaymentID": payment_id,
                "Status": status,
                "StatusDate": retry_date
            })
    else:
        # Normal completed payment
        for status in completed_flow:
            increment_days = random.randint(0, 3)
            current_date += pd.Timedelta(days=increment_days)
            status_rows.append({
                "PaymentID": payment_id,
                "Status": status,
                "StatusDate": current_date
            })

df_payment_status = pd.DataFrame(status_rows)

In [23]:
df_payment_status

         PaymentID      Status                 StatusDate
0                1   INITIATED 2025-12-17 16:46:48.769061
1                1  AUTHORIZED 2025-12-20 16:46:48.769061
2                1   COMPLETED 2025-12-22 16:46:48.769061
3                2   INITIATED 2025-01-26 16:46:48.769061
4                2  AUTHORIZED 2025-01-29 16:46:48.769061
...            ...         ...                        ...
2414332     799999  AUTHORIZED 2024-12-16 16:47:20.974634
2414333     799999   COMPLETED 2024-12-19 16:47:20.974634
2414334     800000   INITIATED 2025-07-24 16:47:20.974634
2414335     800000  AUTHORIZED 2025-07-24 16:47:20.974634
2414336     800000   COMPLETED 2025-07-25 16:47:20.974634

[2414337 rows x 3 columns]

In [27]:
# Split the DataFrame into 3 parts
df1, df2, df3 = np.array_split(df_payment_status, 3)

# Save each part to a separate Excel file
df1.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part1.xlsx", index=False)
df2.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part2.xlsx", index=False)
df3.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part3.xlsx", index=False)

<>:5: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\P'
<>:7: SyntaxWarning: invalid escape sequence '\P'
<>:5: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\P'
<>:7: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_9188\1166858716.py:5: SyntaxWarning: invalid escape sequence '\P'
  df1.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part1.xlsx", index=False)
C:\Users\PanDa\AppData\Local\Temp\ipykernel_9188\1166858716.py:6: SyntaxWarning: invalid escape sequence '\P'
  df2.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part2.xlsx", index=False)
C:\Users\PanDa\AppData\Local\Temp\ipykernel_9188\1166858716.py:7: SyntaxWarning: invalid escape sequence '\P'
  df3.to_excel("D:\Portfolio\Data generation\Data\Payment\PaymentStatusHistory_part3.xlsx", index=False)
C:\Users\PanDa\anaconda3\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)