In [1]:
import pandas as pd
import random
from datetime import timedelta

In [3]:
# Load orders with OrderID and OrderDate
orders_df = pd.read_excel("D:\Portfolio\Data generation\Data\Order\Order.xlsx")
NUM_ORDERS = len(orders_df)

# Assume 5 payment methods
NUM_PAYMENT_METHODS = 5

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_23728\3972979653.py:2: SyntaxWarning: invalid escape sequence '\P'
  orders_df = pd.read_excel("D:\Portfolio\Data generation\Data\Order\Order.xlsx")

In [7]:
payments = []

for idx, row in orders_df.iterrows():
    order_id = idx + 1
    order_date = row["OrderDate"]
    total_amount = row["TotalAmount"]  # Currently 0, can update later

    # Decide if payment is full or partial (70% full, 30% partial)
    is_partial = random.choices([True, False], weights=[30, 70])[0]
    if is_partial:
        amount = round(random.uniform(1, max(total_amount, 1)), 2)
    else:
        amount = total_amount

    payment_method_id = random.randint(1, NUM_PAYMENT_METHODS)

    # PaymentDate after OrderDate
    payment_date = order_date + timedelta(days=random.randint(0, 5))

    payments.append({
        "OrderID": order_id,
        "PaymentMethodID": payment_method_id,
        "Amount": amount,
        "PaymentDate": payment_date
    })

df_payments = pd.DataFrame(payments)

In [9]:
df_payments

        OrderID  PaymentMethodID  Amount         PaymentDate
0             1                4     0.0 2024-05-14 09:49:09
1             2                4     0.0 2024-08-12 03:00:35
2             3                3     0.0 2024-05-06 05:09:08
3             4                5     1.0 2024-11-18 01:29:54
4             5                2     0.0 2025-02-16 23:26:15
...         ...              ...     ...                 ...
799995   799996                2     0.0 2025-04-02 09:45:37
799996   799997                5     1.0 2025-01-14 05:16:43
799997   799998                1     1.0 2025-10-10 23:00:27
799998   799999                1     1.0 2024-02-10 07:52:04
799999   800000                1     1.0 2025-05-01 19:29:46

[800000 rows x 4 columns]

In [11]:
output_path = "D:\Portfolio\Data generation\Data\Payment\Payment.xlsx"
df_payments.to_excel(output_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_23728\2967124860.py:1: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Payment\Payment.xlsx"