In [1]:
SUBCATEGORY_RULES = {
    "Mobile Phones": {
        "brands": ["Samsung", "Apple", "Xiaomi", "Oppo", "Realme"],
        "models": ["A15", "A54", "S23", "Note 12", "Pro Max"],
        "price": (3000, 35000)
    },
    "Laptops": {
        "brands": ["Dell", "HP", "Lenovo", "Asus", "Apple"],
        "models": ["Inspiron", "Pavilion", "ThinkPad", "ZenBook", "MacBook"],
        "price": (15000, 80000)
    },
    "Accessories": {
        "items": ["Wireless Charger", "Power Bank", "Phone Case", "USB Cable", "Earphones"],
        "price": (150, 2000)
    },
    "TVs": {
        "brands": ["Samsung", "LG", "TCL", "Sony"],
        "models": ["Smart LED", "QLED", "4K UHD", "OLED"],
        "price": (7000, 60000)
    },

    "Men Clothing": {
        "items": ["T-Shirt", "Shirt", "Jeans", "Jacket", "Hoodie"],
        "price": (250, 2500)
    },
    "Women Clothing": {
        "items": ["Dress", "Blouse", "Skirt", "Jacket", "Top"],
        "price": (300, 3000)
    },
    "Shoes": {
        "brands": ["Nike", "Adidas", "Puma", "Reebok"],
        "items": ["Running Shoes", "Sneakers", "Casual Shoes"],
        "price": (800, 4500)
    },
    "Bags": {
        "items": ["Backpack", "Handbag", "Laptop Bag", "Travel Bag"],
        "price": (400, 3500)
    },

    "Furniture": {
        "items": ["Sofa", "Dining Table", "Wardrobe", "Bed", "Chair"],
        "price": (2000, 25000)
    },
    "Kitchen Appliances": {
        "items": ["Blender", "Microwave", "Air Fryer", "Toaster"],
        "price": (1200, 15000)
    },
    "Home Decor": {
        "items": ["Wall Art", "Table Lamp", "Vase", "Mirror"],
        "price": (300, 4000)
    },

    "Fitness": {
        "items": ["Dumbbells", "Treadmill", "Resistance Bands", "Yoga Mat"],
        "price": (300, 20000)
    },
    "Camping": {
        "items": ["Tent", "Sleeping Bag", "Camping Chair"],
        "price": (800, 12000)
    },
    "Outdoor Gear": {
        "items": ["Hiking Backpack", "Water Bottle", "Headlamp"],
        "price": (200, 6000)
    },

    "Fiction": {
        "items": ["Novel", "Short Stories", "Fantasy Book"],
        "price": (100, 600)
    },
    "Non-Fiction": {
        "items": ["Biography", "Self Help Book", "Business Book"],
        "price": (120, 800)
    },
    "Educational": {
        "items": ["Textbook", "Exam Guide", "Workbook"],
        "price": (150, 1200)
    },

    "Skincare": {
        "items": ["Face Wash", "Moisturizer", "Sunscreen", "Serum"],
        "price": (150, 1800)
    },
    "Makeup": {
        "items": ["Lipstick", "Foundation", "Mascara"],
        "price": (200, 2500)
    },
    "Hair Care": {
        "items": ["Shampoo", "Conditioner", "Hair Oil"],
        "price": (120, 1500)
    },

    "Board Games": {
        "items": ["Strategy Board Game", "Family Board Game"],
        "price": (300, 3000)
    },
    "Puzzles": {
        "items": ["1000-piece Puzzle", "Kids Puzzle"],
        "price": (150, 1200)
    },
    "Action Figures": {
        "items": ["Superhero Figure", "Anime Figure"],
        "price": (400, 5000)
    },

    "Car Accessories": {
        "items": ["Car Charger", "Seat Cover", "Dash Cam"],
        "price": (200, 6000)
    },
    "Motorbike Parts": {
        "items": ["Helmet", "Brake Pads", "Chain Set"],
        "price": (300, 12000)
    },

    "Medical Supplies": {
        "items": ["Blood Pressure Monitor", "Thermometer", "Face Mask"],
        "price": (100, 6000)
    },
    "Wellness": {
        "items": ["Vitamin Supplements", "Massage Roller"],
        "price": (150, 3000)
    },

    "Stationery": {
        "items": ["Notebook", "Pen Set", "Desk Organizer"],
        "price": (50, 800)
    },
    "Office Electronics": {
        "items": ["Printer", "Scanner", "Shredder"],
        "price": (2500, 20000)
    }
}

In [3]:
import pandas as pd
import random
from faker import Faker
from datetime import timedelta

In [17]:
fake = Faker()

TOTAL_PRODUCTS = 2500   # change to 2000–3000 if needed
SELLER_ID_RANGE = (1, 201)  # adjust based on your Seller table

subcategories = pd.DataFrame([
    (1, "Mobile Phones"),
    (2, "Laptops"),
    (3, "Accessories"),
    (4, "TVs"),
    (5, "Men Clothing"),
    (6, "Women Clothing"),
    (7, "Shoes"),
    (8, "Bags"),
    (9, "Furniture"),
    (10, "Kitchen Appliances"),
    (11, "Home Decor"),
    (12, "Fitness"),
    (13, "Camping"),
    (14, "Outdoor Gear"),
    (15, "Fiction"),
    (16, "Non-Fiction"),
    (17, "Educational"),
    (18, "Skincare"),
    (19, "Makeup"),
    (20, "Hair Care"),
    (21, "Board Games"),
    (22, "Puzzles"),
    (23, "Action Figures"),
    (24, "Car Accessories"),
    (25, "Motorbike Parts"),
    (26, "Medical Supplies"),
    (27, "Wellness"),
    (28, "Stationery"),
    (29, "Office Electronics")
], columns=["SubCategoryID", "SubCategoryName"])

In [23]:
products = []

per_sub = TOTAL_PRODUCTS // len(subcategories)

for _, row in subcategories.iterrows():
    rules = SUBCATEGORY_RULES[row["SubCategoryName"]]

    for _ in range(per_sub):
        if "brands" in rules:
            name = f"{random.choice(rules['brands'])} {random.choice(rules.get('models', rules.get('items', [])))}"
        else:
            name = random.choice(rules["items"])

        price = round(random.uniform(*rules["price"]), 2)

        products.append({
            "SellerID": random.randint(*SELLER_ID_RANGE),
            "SubCategoryID": row["SubCategoryID"],
            "ProductName": name,
            "CurrentPrice": price,
            "CreatedAt": fake.date_time_between(start_date="-2y", end_date="now")
        })
df = pd.DataFrame(products)

In [25]:
df

,SellerID,SubCategoryID,ProductName,CurrentPrice,CreatedAt
0,64,1,Xiaomi Note 12,26399.50,2025-01-03 15:02:35
1,180,1,Oppo A54,31970.97,2024-05-09 05:24:12
2,24,1,Realme Pro Max,10914.28,2023-12-24 17:10:10
3,136,1,Apple A15,21665.99,2024-08-21 11:12:13
4,3,1,Xiaomi S23,28884.18,2024-07-08 04:53:33
...,...,...,...,...,...
2489,32,29,Shredder,10829.78,2025-05-20 16:20:55
2490,40,29,Shredder,7900.45,2025-07-17 05:22:00
2491,101,29,Scanner,16966.08,2025-02-24 08:08:50
2492,13,29,Scanner,8496.53,2025-01-19 18:22:41
2493,52,29,Printer,12528.17,2025-06-07 23:59:23

In [27]:
output_path = "D:\Portfolio\Data generation\Data\Product\Product.xlsx"
df.to_excel(output_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_396\4256337797.py:1: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Product\Product.xlsx"