In [1]:
ATTRIBUTE_RULES = {
    "Mobile Phones": {
        "Brand": ["Samsung", "Apple", "Xiaomi", "Oppo"],
        "Storage": ["64GB", "128GB", "256GB"],
        "RAM": ["4GB", "6GB", "8GB", "12GB"],
        "Color": ["Black", "White", "Blue", "Green"],
        "Screen Size": ["6.1\"", "6.5\"", "6.8\""]
    },
    "Laptops": {
        "Brand": ["Dell", "HP", "Lenovo", "Asus", "Apple"],
        "RAM": ["8GB", "16GB", "32GB"],
        "Storage": ["256GB SSD", "512GB SSD", "1TB SSD"],
        "Processor": ["i5", "i7", "Ryzen 5", "Ryzen 7"],
        "Screen Size": ["13\"", "15.6\"", "17\""]
    },
    "Men Clothing": {
        "Size": ["S", "M", "L", "XL"],
        "Color": ["Black", "White", "Blue", "Gray"],
        "Material": ["Cotton", "Polyester", "Denim"],
        "Fit": ["Regular", "Slim"]
    },
    "Shoes": {
        "Size": ["40", "41", "42", "43", "44"],
        "Color": ["Black", "White", "Red"],
        "Material": ["Leather", "Mesh", "Synthetic"],
        "Gender": ["Men", "Unisex"]
    },
    "TVs": {
        "Brand": ["Samsung", "LG", "Sony"],
        "Screen Size": ["43\"", "50\"", "55\"", "65\""],
        "Resolution": ["4K", "Full HD"],
        "Smart TV": ["Yes", "No"]
    },
    # default fallback
    "DEFAULT": {
        "Color": ["Black", "White", "Gray"],
        "Warranty": ["6 Months", "1 Year", "2 Years"]
    }
}

In [17]:
import pandas as pd
import random

products = pd.read_excel("D:\Portfolio\Data generation\Data\Product\Product.xlsx")
products.reset_index(drop=True, inplace=True)
products["ProductID"] = products.index + 1

<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_5304\2669689616.py:4: SyntaxWarning: invalid escape sequence '\P'
  products = pd.read_excel("D:\Portfolio\Data generation\Data\Product\Product.xlsx")

In [23]:
subcategories = pd.read_excel("D:\Portfolio\Data generation\Data\Product\ProductSubCategory.xlsx")
subcategories.reset_index(drop=True, inplace=True)
subcategories["ID"] = subcategories.index + 1

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_5304\3142012994.py:1: SyntaxWarning: invalid escape sequence '\P'
  subcategories = pd.read_excel("D:\Portfolio\Data generation\Data\Product\ProductSubCategory.xlsx")

In [25]:
subcategories

    CategoryID     SubCategoryName  ID
0            1       Mobile Phones   1
1            1             Laptops   2
2            1         Accessories   3
3            1                 TVs   4
4            2        Men Clothing   5
5            2      Women Clothing   6
6            2               Shoes   7
7            2                Bags   8
8            3           Furniture   9
9            3  Kitchen Appliances  10
10           3          Home Decor  11
11           4             Fitness  12
12           4             Camping  13
13           4        Outdoor Gear  14
14           5             Fiction  15
15           5         Non-Fiction  16
16           5         Educational  17
17           6            Skincare  18
18           6              Makeup  19
19           6           Hair Care  20
20           7         Board Games  21
21           7             Puzzles  22
22           7      Action Figures  23
23           8     Car Accessories  24
24           8     Motorbike Parts  25
25           9    Medical Supplies  26
26           9            Wellness  27
27          10          Stationery  28
28          10  Office Electronics  29

In [30]:
subcat_lookup = dict(
    zip(subcategories["ID"], subcategories["SubCategoryName"])
)

In [36]:
attributes = []

for _, product in products.iterrows():
    product_id = product["ProductID"]
    subcat_id = product["SubCategoryID"]

    subcat_name = subcat_lookup[subcat_id]
    rules = ATTRIBUTE_RULES.get(subcat_name, ATTRIBUTE_RULES["DEFAULT"])

    min_attrs = min(3, len(rules))
    max_attrs = min(6, len(rules))

    attr_count = random.randint(min_attrs, max_attrs)
    chosen_attrs = random.sample(list(rules.keys()), attr_count)

    for attr in chosen_attrs:
        attributes.append({
            "ProductID": product_id,
            "AttributeName": attr,
            "AttributeValue": random.choice(rules[attr])
        })

df = pd.DataFrame(attributes)

In [38]:
df

      ProductID AttributeName AttributeValue
0             1       Storage          256GB
1             1         Brand         Xiaomi
2             1           RAM           12GB
3             1         Color           Blue
4             2       Storage           64GB
...         ...           ...            ...
5716       2492      Warranty        2 Years
5717       2493      Warranty         1 Year
5718       2493         Color           Gray
5719       2494         Color          Black
5720       2494      Warranty       6 Months

[5721 rows x 3 columns]

In [40]:
output_path = "D:\Portfolio\Data generation\Data\Product\ProductAttribute.xlsx"
df.to_excel(output_path, index=False)

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\PanDa\AppData\Local\Temp\ipykernel_5304\3309329212.py:1: SyntaxWarning: invalid escape sequence '\P'
  output_path = "D:\Portfolio\Data generation\Data\Seller\ProductAttribute.xlsx"